venv/
__pycache__/
*.pyc
uploads/
output/
dataset_merged_v2/
frames1/
frames2/
frames3/
restaurant_frames/
unseen_frames/
StaffIdentify-3/
test_results/
test_results_v3/
test_results_v4/
video.mp4
video1.mp4
video2.mp4
video3.mp4
yolov8m.pt
python
.env"Employee-Tracking-Key.pem" 
"node_modules/" 
